.right>h3{
    float: left;
}
.right nav{
    height: 40px;
    float: right;
    margin:20px 20px 10px 0;
}
.right nav ul{
    margin: 0;
}
.right nav ul li:nth-child(1) a{
    background-color: #2c6ffc;
    color: white;
}
.right nav::after{
    content: "";
    display: block;
    clear: both;
}

table th,table td{
    border: none !important;
}

.col1,.col3{
    height: 40px !important;
    line-height: 30px !important;
}
.col1{
    width: 20%;
    vertical-align: middle;
}
.col2{
    width: 30%;
}
.col3{
    width: 25%;
    text-align: center;
}
.col4{
    text-align: center;
}
